html {
    box-sizing: border-box;
    touch-action: manipulation;
    background-color: #F98E1D;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}


/* place your code below */

body {
    background: rgb(249, 142, 29);
    background: linear-gradient(344deg, rgba(34, 179, 195, 1) 0%, rgba(249, 144, 31, 1) 100%);
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
